.item-card{


background-color: rgb(180, 153, 119);
height: 100vh;
width: 100%;

>.card{

    width: 600px;
    height: 600px;
    background-color: aqua;
    margin-left: 600px;
    border: 2px solid green ;
    margin-top: 20px ;
}

}