.side-bar {
  background-color: black;
  color: aliceblue;
  width: 400px;
  height: 200vh;
  position: fixed;

  > .brand-name {
    font-size: 36px;
    margin-left: 30px;

    > h3 {
      margin: 0px 1px;
    }

    > h2 {
      margin: 0px 1px;
      color: red;
      margin-left: 30px;
    }
  }

  > ul {
    list-style-type: none;
    margin-right: 30px;

    > li {
      font-size: 20px;

      > a {
        text-decoration: none;
        color: aliceblue;

        &:hover {
          color: aqua;
        }
      }
    }
  }
}

.form-none {
  display: none;
}

.form {
  position: absolute;
  top: 300px;
  left: 700px;
  width: 300px;
  height: 200px;
  background-color: rgb(184, 188, 192);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;

   >button{
    margin-top:100px;
    
   }


  >input{

    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid green;
    margin-top: 10px;
  }
}
