.body-light {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

.navbar {
  > ul {
    display: flex;

    > li {
      list-style-type: none;
      > a {
        margin-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.cards {
  margin: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pic {
  margin: 4px;
}

.pic img {
  max-width: 100%;
  border-radius: 5px;
}

.text {
  font-family: cursive;
  color: rgb(34, 31, 31);
  font-style: italic;
}
