.navbar {
  display: flex;
  background-color: black;
  color: aliceblue;

  > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    > li {


      > a {
        text-decoration: none;
        margin-left: 30px;
        transition: all 0.5s;
        color: antiquewhite;

        &:hover {
          color: blue;
          scale: 1.2;
          cursor: pointer;
        }
      }
    }
  }
}
