body{
   padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(71, 68, 68);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.container {
    margin-top: 50px;
    background-color: blanchedalmond;
    width: 40%;
    height: 95vh;
    margin-bottom: 50px;
    border-radius: 5%;


    >form{


       width: 500px;
       margin: auto;
        display: flex;
        flex-direction: column;
     
    
        
        >h1{
            text-align: center;
        }

        >label{

            font-weight: 700;
          
            margin-left: 30px;
            margin-bottom: 10px;
            

            >input{
                width: 300px;
                padding: 5px 20px;
                border: 1px solid green ;
                border-radius: 8px;
            }
        }




        >button{

            width: 200px;
            background-color: green;
            color: antiquewhite;
            border: 1px solid black;
            border-radius: 5px;
            margin-left: 100px;
            margin-top: 100px;
            font-size: 20px;
            padding: 5px 20px;

            &:hover{
                background-color: beige;
                color: green;
                cursor: pointer;
            }


        }


      
    }
    
}



.heading{
    color: blueviolet;
    text-align: center;
  
}



.paragraph{

 color: rgb(16, 48, 49);
 font-size: 22px;
 font-family: cursive; 
  font-style: italic;

}