.addBook {
    width: 600px;
    margin: auto;
    margin-top: 100px;
  

>form {

    display: flex;
    flex-direction: column;
>input{
    margin-bottom: 10px;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 5px 10px;



}
>button{
    margin-bottom: 10px;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(43, 36, 36); 
    color: antiquewhite;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    &:hover{
        background-color:  rgba(43, 36, 36, 0.527); 
        cursor: pointer;
    }



}


}



}