<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/layout.css" />
  </head>
  <body>

    <div class="navbar">

      
      <span> Book Delights</span>


      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/login"> Login </a></li>
        <li><a href="/register"> Register </a></li>
        <li><a href="/secureindex"> Admin Dashboard </a></li>

      </ul>

      <div class="search">

        <form method="post">
          <input type="text" placeholder="Search" />
          <button> Search</button>
        </form>

      </div>

    </div>

    <div class="center">
      {{{body}}}
    </div>

    <div class="footer">
      <span> Copyright 2023 All Rights reserved </span>
      <span> Book Delights | BookStore</span>

    </div>

  </body>
</html>