<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/layout.css" />
  </head>
  <body>

    <div class="navbar">
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/login"> Login </a></li>
        <li><a href="/register"> Register </a></li>
        <li><a href="/secureindex"> Dashboard </a></li>

      </ul>
    </div>

    {{{body}}}

    <div class="navbar">
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/login"> Login </a></li>
        <li><a href="/register"> Register </a></li>
        <li><a href="/secureindex"> Dashboard </a></li>

      </ul>
    </div>

  </body>
</html>