<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Page</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="hero">

      <div class="tag">

        <h3> Reading is best for getting Ideas </h3>
        <h1>Keep Reading</h1>

        <button type="button"> See More </button>

      </div>

    </div>

    <h1> Popular Books</h1>

    <div class="cards">

      <div class="card">
        <img src="/assets/book3.jpg" alt="" />

        <div class="details">
          <span> Harry potter</span>
          <span> harry bhai </span>
          <span> Rs 350 /</span>
        </div>

        <div class="btns">
          <button class="btn1"> Details</button>
          <button class="btn2"> Buy</button>
        </div>

      </div>

    


    </div>
  </body>
</html>