<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="hero">
      <div class="navbar">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/login"> Login </a></li>
          <li><a href="/register"> Register </a></li>
          <li><a href="/secureindex"> Dashboard </a></li>
          
        </ul>
      </div>

      <div class="tag">
        <h1>Keep Reading</h1>
      </div>
    </div>
  </body>
</html>
