<link rel="stylesheet" href="/css/addBook.css" />

<div class="AddBook">

  <h1> Add new Book </h1>
  <form method="post" action="/add/book" enctype="multipart/form-data">

    <input type="text" placeholder="Add title of the Book" name="bookTitle" />
    <input type="text" placeholder="Add Author of the Book" name="bookAuthor" />
    <input type="text" placeholder="Book Description" name="bookDescription" />
    <input type="number" placeholder="Book Price" name="bookPrice" />

    <input
      type="file"
      placeholder="Add a picture of book"
      accept="image/*"
      name="image"
    />

    {{#if message}}
      <span>
        {{message}}
      </span>

    {{/if}}

    <button type="submit"> Add Book </button>

  </form>

  {{#if src}}

    <img style="width: 300px;" src={{src}} alt="no-image" />

  {{/if}}

</div>