<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Page</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>

    <div class="hero">

      <div class="tag">

        <h3> Reading is best for getting Ideas </h3>
        <h1>Keep Reading</h1>

        <button type="button"> See More </button>

      </div>

    </div>

    <div class="text">
      <h1> Popular Books</h1>
    </div>

    <div class="cards">

      <div class="card">
        <img src="/assets/book3.jpg" alt="" />

        <div class="details">
          <span> Harry potter</span>
          <span> harry bhai </span>
          <span> Rs 350 /</span>
        </div>

        <div class="btns">

          <button class="btn1">
            <i class="bi bi-send"></i>
            Details</button>

          <button class="btn2">
            <i class="fa fa-cart-plus" style="font-size:24px"></i>
            Buy</button>
        </div>

      </div>

    </div>

  </body>
</html>