<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
  </head>
  <body>

    <div class="container mt-5">
        {{#each book}}
        <div>
        <img src= {{this.bookImgUrl}} alt="no-preview" width="200">
        </div>
      {{/each}}
    </div>

  </body>
</html>