<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore | Register</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>

    <div class="register">

      <form method="post" action="/register">

        <h1> Register With Us </h1>

        <label> Email</label>
        <input placeholder="enter your email" type="text" name="email" />

        <label> Username</label>
        <input placeholder="enter your username" type="text" name="username" />

        <label> Password</label>
        <input
          placeholder="enter your Password"
          type="password"
          name="password"
        />

        {{#if message}}

          <p style="color: rgb(186, 32, 32);"> {{message}} </p>
        {{/if}}

        {{#if successMessage}}

          <p style="color: rgb(82, 207, 14);"> {{successMessage}} </p>
        {{/if}}

        <button type="submit"> Register </button>

      </form>

    </div>

  </body>
</html>