<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body style="background-color: black;">
    

<div class="container mt-5" > 


<h1  class="h1" style="color: aliceblue;"> Welcome to authorized secure Home </h1>







<a class="btn btn-primary mb-5" href="/add/book"> Add a book  </a>


</div>


<div class="container"> 
     <div class="row">
    <div class="col-sm-6 p-3 bg-danger text-dark">.col</div>
    <div class="col-sm-6 p-3 bg-success text-white">.col</div>
  </div>
</div>

 






    
</body>
</html>