.side-bar {
  background-color: black;
  color: aliceblue;
  width: 400px;
  height: 100vh;
  position: fixed;

  > .brand-name {
    font-size: 36px;
    margin-left: 30px;

    > h3 {
      margin: 0px 1px;
    }

    > h2 {
      margin: 0px 1px;
      color: red;
      margin-left: 30px;
    }
  }

  > ul {
    list-style-type: none;
    margin-right: 30px;

    > li {
      font-size: 20px;
      cursor: pointer;

      > a {
        text-decoration: none;
        color: aliceblue;

        &:hover {
          color: aqua;
        }
      }
    }
  }
}


.footer {
  width: 100%;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
