



.test{
min-height: 90vh;
width: 80%;
margin: auto;


>h1{
    text-align: center;
}

>div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >h1{
        font-size: 98px;
        text-align: center;
    }

    >h2{
        font-style: italic;
        font-family: cursive;
        font-size: 30px;
    }
}



}