



<div class="container table-responsive mt-5">
      <div class="h1"> Active User Details </div>
      <table
        class="table table-striped table-bordered table-hover table-dark table-responsive-sm"
      >
        <thead>
          <tr class="table-primary">
            <th>Id</th>
            <th>Username</th>
            <th>email</th>
            <th>address</th>
            <th>first name</th>
            <th>last name</th>
            <th>caste</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>456</td>
            <td>Fiza</td>
            <td>fiza@gmail.com</td>
            <td>lalchowk</td>
            <td>lalchowk</td>
            <td>lalchowk</td>
            <td>9906599065</td>
            <td>
              <div>
                <a class="btn btn-outline-primary" href="/user/edit"> Edit </a>
                <a class="btn btn-outline-danger" href="/user/delete">
                  Delete</a>

              </div>

            </td>
          </tr>

        </tbody>
      </table>

    </div>
