<div class="cards">

  <div class="card">
    <img src="/assets/jackets (2).jpg" alt="No Image" />

    <div class="details">
      <span> Winter Wear</span>
      <span> Minimum 40% Off </span>
      <span> Starting From Rs 499 /</span>
    </div>
    <a href="/Winter-Wear">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

    </a>

  </div>

  <div class="card">
    <img src="/assets/dresses.jpg" alt="No Image" />

    <div class="details">
      <span> Western Wear</span>
      <span> Minimum 30% Off </span>
      <span> Starting From Rs 349 /</span>
    </div>
    <a href="/Western-Wear">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

 </a>

  </div>

  <div class="card">
    <img src="/assets/ethnic.jpg" alt="No Image" />

    <div class="details">
      <span> Ethnic Wear</span>
      <span> Minimum 25% Off </span>
      <span> Starting From Rs 699 /</span>
    </div>
     <a href="Ethnic-Wear">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>

      <span> Details</span>

   </a>

  </div>

  <div class="card">
    <img src="/assets/footwear.jpg" alt="No Image" />

    <div class="details">
      <span> FootWear</span>
      <span> Flat 35% Off </span>
      <span> Starting From Rs 599 /</span>
    </div>
     <a href="FootWear">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

 </a>

  </div>


</div>


<div class="cards">

 <div class="card">
    <img src="/assets/purse.jpg" alt="No Image" />

    <div class="details">
      <span> HandBags</span>
      <span> Minimum 20% Off </span>
      <span> Starting From Rs 299 /</span>
    </div>
     <a href="HandBags">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

   </a>

  </div>

  <div class="card">
    <img src="/assets/abcdef.jpg" alt="No Image" />

    <div class="details">
      <span> Beauty</span>
      <span> Flat 10% Off </span>
      <span> Starting From Rs 69 /</span>
    </div>
     <a href="Beauty">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>

      <span> Details</span>

   </a> 

  </div>

  <div class="card">
    <img src="/assets/frag.jpg" alt="No Image" />

    <div class="details">
      <span> Fragrances</span>
      <span> Buy 1 Get 1 Free </span>
      <span> Starting From Rs 149 /</span>
    </div>
    <a href="Fragrances">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

   </a>

  </div>


 <div class="card">
    <img src="/assets/access.jpg" alt="No Image" />

    <div class="details">
      <span> Accessories</span>
      <span> Flat 35% Off </span>
      <span> Starting From Rs 99 /</span>
    </div>
    <a href="Accessories">>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="18"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      <span> Details</span>

     </a>

  </div>

</div>
 

