<div class="modal-dialog">
            <div class="modal-content">

             
              <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                Are u sure u want to delete this Article
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-info"
                  data-bs-dismiss="modal"
                >Cancel</button>

                <a class="btn btn-danger" href="/del/article/{{this._id}}">
                  Delete</a>
              </div>

            </div>
          </div>