{{!-- <div class="jumbo">
  <h1> TRENDNXT</h1>
  <H2>Discover The Next Big Trends In Fashion</H2>

  <div class="main">

    <h1 class="animate__animated animate__slideInDown" >CHARMING</h1>

    <img src="/assets/Western branding photoshoot.jpg" alt="" />

  </div>

</div> --}}