    <div class="navbar">
      <img src="/assets/IMG_4423.PNG" alt="" />
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/login"> Login </a></li>
        <li><a href="/register"> Register </a></li>
        <li><a href="/Dashboard"> Dashboard </a></li>
        <li><a href="/Contact"> Contact </a></li>

      </ul>
      <div class="search">

        <form action="/search">

          <input type="text" placeholder="Search" />
          <button>Search</button>

        </form>

      </div>

    </div>