<link rel="stylesheet" href="/css/addArticle.css">

<div class="addArticle">

<h1>Add a New Article</h1>
<form method="post" action="/add/article", enctype="multipart/form-data">

<input type="text" placeholder="Write Name Of The Article" name="ArticleName"/>
<input type="text" placeholder="Write Brand Of The Article" name="ArticleBrand"/>
<input type="number" placeholder="Write Price Of The Article" name="ArticlePrice"/>
<input type="text" placeholder="Write Description Of The Article" name="ArticleDescription"/>
<input type="number" placeholder="Write Quantity Of The Article" name="ArticleQty"/>
<input type="text" placeholder="Write Category Of The Article" name="ArticleCategory"/>
<input type="text" placeholder="Search  The Article" name="searchtags"/>
<input type="file" placeholder="Add Picture Of The Article" name="image" accept="image/*"/>







<button type="submit">
      Add a Article
</button>





</form>







</div>