<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/jumbotron.css">
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link rel="stylesheet" href="/css/jumbotron2.css">  
  </head>

  <body>
    <div class="hero">
<img class="abcd" src="/assets/new arrivals Instagram poster banner.jpg" alt="">
    </div>
    
       {{>jumbotron2}}

    <h1> Choose Your Style</h1>

     {{>cards}}



    

     

        <div class="help">
      <div class="help2">
<img src="/assets/IMG_4611.PNG" alt="">
<img src="/assets/IMG_4612.PNG" alt="">
<img src="/assets/IMG_4613.PNG" alt="">
<img src="/assets/IMG_4615.PNG" alt="">


      </div>

    </div>


     {{!-- {{>jumbotron}} --}}
   

 

  </body>
</html>