<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login">
        <h3>Login </h3>
      <form method="post" action="/login">

        <label>Email</label>
        <input type="text" placeholder="Enter Your Email Here" name="email" />

        <label>Password</label>
        <input
          type="password"
          placeholder="Enter Your Password Here"
          name="password"
        />

        {{#if message}}

          <p style="color: red ; "> {{message}} </p>

        {{/if}}

        <button type="submit">

          Login

        </button>

      </form>

    </div>
  </body>
</html>