 .jumbo {
  background-color: antiquewhite;

  height: 120vh;

  background-image: linear-gradient(
    to right,
    rgb(15, 14, 15),
    rgb(100, 32, 49),
    rgb(138, 25, 78),
    rgb(54, 54, 68),
    rgb(100, 19, 37),
    rgb(184, 28, 54)
  );

  h1 {
    text-align: center;
    color: rgb(243, 236, 236);
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 45px;
    margin-top: 25px;
  }
  h2 {
    text-align: center;
    color: antiquewhite;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    margin-top: 10px;
  }

  .main {
    position: relative;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



    h1 {
      color: antiquewhite;
      font-weight: 100;
      margin-top: 100px;
      font-size: 80px;
      position: absolute;
      z-index: 0;
      transition: 0.2s ease-in;


       &:hover {
        transform: scale(1.5, 1.6);
        
      } 
    }

    > img {
      border-radius: 200px;
      width: 300px;
      z-index: +1;
      opacity: 0.5;
      transition: 0.2s ease-in;
      /* &:hover{
        transform: scale(1.5, 1.6);
      } */
    }
  }
} 
