.blog-container {
  display: flex;
  min-height: 90vh;
  justify-content: center;

  > .blogs {
  
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    >.blog{
     
        width: 800px;
        margin-bottom: 100px;
       

      >.heading{
        display: flex;
        align-items: center;
        justify-content: space-between;

        >h2{

        }

        >span{
          font-size: 22px;
          cursor: pointer;

        }
      }

      >.modal{
        /* position: absolute; */
        /* right: 0; */
        background-color: grey;
        color: white;
        width: 100px;
        border-radius: 5px;
       
        
        >ul{
          list-style-type: none;
          padding-left: 0;
         
          >li{
            padding: 5px 10px;
            &:hover{
              background-color: green;
              cursor: pointer;
            }
          }
        }
      }


      >.editModal{

        position: absolute;
        left: 0;
      }

       
        >p{

        }
        >img{
            width: 800px;
        }
  
    }


  }

 
}
